.UploadedPic {
    width: 230px;
    height: 150px;
    margin: 0em 1em 1em 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius:7px

  }

.Jumbo{
    margin: 1em;
    margin-left: 9em;
    margin-right: 9em;
    background-color: rgb(213, 253, 247);
    display: flex;
    justify-content: flex start;
   
  }

.tags {
  height: auto;
  font-size: 0.9em;
  text-align: left;
  padding-left: 1em;  
}

.imagerow {
  box-shadow: 10px 10px 10px rgb(173, 172, 172); 
  background-color: rgb(247, 248, 248);
  margin: 0em 1em 1em 1em;
  align-self: flex-start;
  flex-flow: column;
  border-radius:7px
}

.urls {
  display: flex;
  flex-wrap: wrap;
}

.search {
  flex: 1
}

.search {

  height: 1em;
  padding-top: 10px;
  margin: 1em;
  margin-left: 9em;
  margin-right: 9em;

  background-color: #c93838
  
}

.upload_date {
  font-size: 0.8em;
  color: grey;
  margin: 0.5em 0em 0.3em 1.3em;
  text-align: left;
}

.desc {
  height: auto;
  font-size: 0.9em;
  text-align: left;
  padding-left: 1em;  
}

.tag_search {
    margin: 1em;
    width: 20em;

}